body #acesso {
    background-color: white;
}

#formulario {

    background-color: white;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 6px;
    height: 100%;

    box-shadow: 0 2px 8px rgba(177, 177, 177, 0.877);
    padding: 10px;
    transition: all .4s ease;
    opacity: 1;
}

/* Logo skate is life */
#logo-acesso {
    height: auto;
    text-align: center;
    justify-content: center;
    position: relative;
}

/* elementos de entrada de dados*/
#email {
    margin-top: 2%;
    text-align: center;
}
#senha {
    margin-top: 0.9px;
    text-align: center;
}

/* button log */
#btn-log {
    margin-top: 2%;
    text-align: center;
    width: max-content;
}

/* config button switch */
.switch__container #span1 {
    margin-right: 10px;
}
.switch__container #span2{
    margin-left: 10px;
}
.switch__container {
    text-align: center;
    justify-content: center;
    margin-top: 5%;
    display: flex;
}
.switch {
    position: absolute;
    margin-left: -8888px;
    visibility: hidden;
}
.switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
.switch--shadow + label {
    padding: 2px;
    width: 42px;
    height: 22px;
    background-color: #dddddd;
    border-radius: 30px;
}
.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: '';
}
.switch--shadow + label:before {
  right: 1px;
  background-color: #bebebe;
  border-radius: 30px;
  transition: all 0.4s;
}
.switch--shadow + label:after {
  width: 20px;
  background-color: #f1f1f1;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(196, 255, 194, 0.555);
  transition: all 0.4s;
}
.switch--shadow:checked + label:before {
  background-color: #acffa4;
}
.switch--shadow:checked + label:after {
  background-color: #3A8C0E;
  transform: translateX(19.5px);
}


  
/* ***********************************
config para diferentes tamanhos de tela */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    #formulario {
        margin-top: 5.8%;
        margin-bottom: 3.8%;
        margin-left: 3%;
        margin-right: 3%;
    }

    /* logo */
   #logo-acesso {
        width: 300px;
    }
    /* elementos de entrada de dados*/
    #email {
        width: 50%;
    }
    #senha {
        width: 50%;
    }
}

/* Small devices (landscap phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    #formulario {
        margin-top: 5.8%;
        margin-bottom: 3.8%;
        margin-left: 3%;
        margin-right: 3%;
    }
   /* logo */
   #logo-acesso {
        width: 300px;
    }
    /* elementos de entrada de dados*/
    #email {
        width: 42%;
    }
    #senha {
        width: 42%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #formulario {
        margin-top: 3.5%;
        margin-bottom: 3.5%;
        margin-left: 5%;
        margin-right: 5%;
    } 
    /* logo */
    #logo-acesso {
        width: 350px;
    }
    /* elementos de entrada de dados*/
    #email {
        width: 35%;
    }
    #senha {
        width: 35%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    #formulario {
        margin-top: 2%;
        margin-bottom: 1%;
        margin-left: 20%;
        margin-right: 20%;
    }
    /* logo */
    #logo-acesso {
        width: 400px;
    }
    /* elementos de entrada de dados*/
    #email {
        width: 32%;
    }
    #senha {
        width: 32%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #formulario {
        margin-top: 2%;
        margin-bottom: 1%;
        margin-left: 20%;
        margin-right: 20%;
    }
    /* logo */
    #logo-acesso {
        width: 400px;
    }
    /* elementos de entrada de dados*/
    #email {
        width: 28%;
    }
    #senha {
        width: 28%;
    }
}